{% extends "base.html" %}

{% block inhalt %}
<h1>{{ t.verlauf_titel }}</h1>
{% if risiken %}
    <table style="margin: 0 auto; color: #e2e8f0;">
        <tr><th style="padding: 5px 15px;">{{ t.datum }}</th><th style="padding: 5px 15px;">{{ t.risiko_spalte }}</th></tr>
        {% for prozent, datum in risiken %}
        <tr><td style="padding: 5px 15px;">{{ datum }}</td><td style="padding: 5px 15px;">{{ prozent }}%</td></tr>
        {% endfor %}
    </table>
{% else %}
    <p>{{ t.kein_verlauf }}</p>
{% endif %}
<br>
<a href="/?lang={{ lang }}">{{ t.zurueck }}</a>
{% endblock %}
